body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;
}

.card {
  background: #e3e3e3d1;
  color: #131313;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 900px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #ffffff2b;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 16px;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 30px;
  background: #ffffff2b;
  color: #000000;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

/* .weather {
  display: flex;
  justify-content: space-around;
} */
.container {
  display: flex;
  justify-content: space-evenly;
}

.humidity {
  margin: 20px 0 10px 0;
}

.wind {
  margin: 10px 0;
}

.pressure {
  margin: 10px 0;
}

.subCard {
  display: flex;
  align-items: center;
}

.subCardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:750px) {
  .windSpdHmdPre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subCard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  button:hover {
    background: #ffffff2b;
  }
}
